.sideBar{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: .25;
  background-color: white;
  color: white;
}

.sideBar_header{
  display: flex;
  height: 50px;
  background-color:#3e6e86;
  align-items:center;
}
.sideBar_header >div{
  display: flex;
  flex: .8;
  justify-content:center;
}
.sideBar_body{
  display: flex;
  flex:1;
  border: 1px solid rgba(122, 118, 118, 0.1);
  /* height: 95%; */
}

.sideBar_search{
  display: flex;
  height: 40px;
  margin:10px;
  align-items: center; 
  background-color:lightgray;
  color: white;
  border-radius: 5px;
}

.search_input{
  border: none;
  background-color: transparent;
  outline-width: 0ch;
  color: white;
  flex:1;
}

#sideBar_button{
  color:white;
}

.sideBar_threads{
  overflow: scroll;
  flex:1;
}
.sideBar_threads::-webkit-scrollbar{
  display: none;
}

.sidebar_menu{
  color: white;
  cursor: pointer;
}
.sidebar_menu:hover{
  color: gray;
}