.sideBarThreads{
  display:flex;
  align-items: center;
  padding:20px;
  border-bottom: 1px solid rgba(190, 190, 190, .1) ;
  color: black;
  cursor: pointer;
}


.sideBarThreads:hover{
  background-color:lightgray;
}


.sideBarThread_details{
  margin-left: 15px;
  position: relative;
  width: 100%;
}

.sideBarThread_timestamp{
  position: absolute;
  bottom: -15px;
  right: 0;
  color: gray;
  font-size: x-small;
}