.sideBarThreads{
  display:flex;
  align-items: center;
  padding:15px;
  height: 40px;
  border-bottom: 1px solid rgba(190, 190, 190, .1) ;
  cursor: pointer;
}


.sideBarThreads:hover{
  background-color:lightgray;
}


.sideBarThread_details{
  margin-left: 15px;
  position: relative;
  width: 100%;
}
.sideBarThread_details > p{
  color:black;
}
.sideBarThread_details > div{
  font-size: small;
  padding:5px;
  color:steelblue;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sideBarThread_timestamp{
  position: absolute;
  bottom: -15px;
  right: 0;
  color: gray;
  font-size: x-small;
}